.App {
  text-align: center;
}

/* Structure outlines */

.header {
  border: solid hotpink;
}

.title-logo {
  border: solid yellow;
}

.footer {
  border: solid greenyellow;
}

.game {
  border: solid red;
  /* display: flex; */
  justify-content: space-around;
}

.all-dice {
  border: solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.die {
  border: solid teal;
}

.instructions {
  border: solid green;
}

.leaderboard {
  border: solid orange;
}

.win-item {
  border: solid pink;
}