
.App {
  text-align: center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/401156/another-rough-old-and-worn-parchment-paper.jpg");
  background-size: cover;
  /* background-blend-mode: ; */
  background-color: #3E1511;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

* {
  /* background-color: #3E1511; */
  color:#3E1511;
}

.colour-palette {
  color: #3E1511;
  color: #6A2B21;
  color: #9C4B36;
  color: #B49881;
  color: #EFE5D4;
  color: #e6d2b1; 

}

.grid-container {
  display: grid;
  gap: 1%;
  grid-template-areas: 
  'game leaderboard'
  'instructions leaderboard';
}

/* Structure outlines */

/* .header {
  grid-area: header;
  border: solid 5px #3E1511;
  background-color: #e6d2b1;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  outline:none;
  box-shadow: 20px 38px 34px -26px;
  margin: 8px;
} */

/* .title-logo {
  margin: 10px;
  border: yellow solid 5px;
} */

.footer {
  /* border: solid greenyellow; */
  grid-area: footer;
}

.footer > p {
  padding-top: 20px;
  color: #EFE5D4;
}

.game {
  /* border: solid lightblue; */
  width: 100%;
}

.game-box-flex {
  grid-area: game;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%;
  border: solid 5px #3E1511;
  background-color: #e6d2b1;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  outline:none;
  box-shadow: 20px 38px 34px -26px;
}

.game-box-middle {
  border: solid hotpink;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}




.die > button {
  display: contents;
}

.instructions {
  grid-area: instructions;
  border: solid 5px #3E1511;
  background-color: #e6d2b1;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  outline:none;
  box-shadow: 20px 38px 34px -26px;
  padding: 10px;
  
  /* overflow: auto; */
}

.instructions > ul {
  text-align: center;
}

.instructions > ul > li{
  list-style: none;

}

.leaderboard {
  grid-area: leaderboard;
  min-width: 200px;
  border: solid 5px #3E1511;
  background-color: #e6d2b1;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  outline:none;
  box-shadow: 20px 38px 34px -26px;
}

.win-item {
  /* border: solid pink; */
}

.scoring > ul, h3 {
  list-style: none;
  text-align: center;
}

.scoring > ul {
  text-align: left;
  font-size: small;
  
}

.scoring li {
  font-weight: lighter;
}