.player-selectors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.all-dice {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
    max-width: 400px;
}
/* .all-dice {
    border: #e6d2b1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6d2b1;
    width: 70%;
  } */

.player-scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.P-score, .winner {
    border: solid black;
    border-radius: 25%;
    padding: 10px;
    margin: 5px;
    background-color: #EFE5D4;
}

div.P-score {
    min-width: 150px;
}

p.winner {
    margin-left: 25%;
    margin-right: 25%;
}

.P-score > p, h4 {
    margin: 0;
}

.roll-n-bank-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    width: 100px;
    height: 40px;
    border: solid 5px #3E1511;
    text-align: center;
    margin: 5px;
    background-color: #EFE5D4;
    color: #3E1511;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    outline:none;
    box-shadow: 20px 38px 34px -26px;
    font-family: 'Aclonica';
}

.roll-round-score {
    border: solid black;
    border-radius: 25%;
    padding: 5px;
    margin: 5px;
    background-color: #EFE5D4; 
}

.selector {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
}
/* 
.scoring > ul, h3 {
    list-style: none;
    text-align: center;
}

.scoring > ul {
    text-align: left;
} */

/* button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
} */

.player-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

